{% extends "layout.html" %}

{% block link %}
    <link href="../static/activity.css" rel="stylesheet">
    <script src="../static/activity.js"></script>
{% endblock %}

{% block title %}
    Activity
{% endblock %}

{% block body %}
    <div class="container-1">
        <div class="content">
            <i class="web-icon"></i>

            <img src="../static/{{ profile_pic }}" alt="You">
            <p class="name">{{ name }}</p>

            <a href="/edit" class="profile-edit">Edit</a>

            <a href="/homepage" class="btn">Dashboard</a>
            <a href="/activity" class="btn">Activity</a>
            <a href="/logout" class="btn">&#10008; Log out</a>

            <div class="darkbtn">
                <i class="light"></i>
                <input type="checkbox" id="darkmodebtn">
                <i class="dark"></i>
            </div>
        </div>
    </div>

    <div class="container-2">
        <h1>Fitness</h1>

        <div class="content">
            <div class="swiper-slide">  
                <img src="../static/plank.jpg" alt="Plank fitness">
                <p class="name">Plank</p>
                <a href="/plank">View more</a>
            </div>

            <div class="swiper-slide">  
                <img src="../static/lunge.jpg" alt="Lunge fitness">
                <p class="name">Lunge</p>
                <a href="/lunge">View more</a>
            </div>

            <div class="swiper-slide">  
                <img src="../static/crunch.jpg" alt="hiit fitness">
                <p class="name">Crunch</p>
                <a href="/crunch">View more</a>
            </div>

            <div class="swiper-slide">  
                <img src="../static/squat.jpg" alt="hiit fitness">
                <p class="name">Squat</p>
                <a href="/squat">View more</a>
            </div>
        </div>
        
        <h1>Muscular</h1>
        
        <div class="content">
            <div class="swiper-slide">
                <img src="../static/deadlift.jpg" alt="hiit fitness">
                <p class="name">Dead Lift</p>
                <a href="/dlift">View more</a>
            </div>
    
            <div class="swiper-slide">
                <img src="../static/bench_press.jpg" alt="hiit fitness">
                <p class="name">Bench Press</p>
                <a href="/bench">View more</a>
            </div>
            
            <div class="swiper-slide">
                <img src="../static/split_squats.jpg" alt="hiit fitness">
                <p class="name">Split Squats</p>
                <a href="/split">View more</a>
            </div>
            
            <div class="swiper-slide">  
                <img src="../static/leg_press.jpg" alt="hiit fitness">
                <p class="name">Leg Press</p>
                <a href="/leg">View more</a>
            </div>
        </div>
    </div>
{% endblock %}