{% extends "layout.html" %}

{% block link %}
    <link href="../static/activity_in.css" rel="stylesheet">
    <script src="../static/activity_in.js"></script>
{% endblock %}

{% block title %}
    Bench Press
{% endblock %}

{% block body %}
    <div class="container-1">
        <div class="content">
            <i class="web-icon"></i>

            <img src="../static/{{ profile_pic }}" alt="You">
            <p class="name">{{ name }}</p>

            <a href="/edit" class="profile-edit">Edit</a>

            <a href="/homepage" class="btn">Dashboard</a>
            <a href="/activity" class="btn">Activity</a>
            <a href="/logout" class="btn">&#10008; Log out</a>

            <div class="darkbtn">
                <i class="light"></i>
                <input type="checkbox" id="darkmodebtn">
                <i class="dark"></i>
            </div>
        </div>
    </div>

    <div class="container-2">
        <div class="content">
            <div class="swiper-slide">  
                <img src="../static/bench_press.jpg" alt="Bench Press">
                <p class="name">Bench Press</p>
            </div>
        </div>
        
        <div class="concept">
            <h1>What is a bench press?</h1>

            <p>
                The bench press is a compound exercise that targets the muscles of the upper body.
            </p>

            <p>
                It involves lying on a bench and pressing weight upward using either a barbell or a pair of dumbbells.
                 During a bench press, you lower the weight down to chest level and then press upwards while extending your arms.
                  This movement is considered one repetition, or rep.
            </p>

            <p>
                There are several variations of bench presses that each work different muscles.
                 These may involve lying flat, lying at an incline or decline, or placing your hands closer together on the barbell.
            </p>

            <h1>How to do a bench press:</h1>

            <img src="../static/bench_press.jpg" alt="Bench Press">

            <p>
                <strong>Equipment needed</strong>: barbell (additional weights optional) or dumbbells, flat bench
            </p>

            <ul>
                <li>
                    <strong>Step 1</strong>: Lie on your back on a flat bench.
                     Grip a barbell with hands slightly wider than shoulder width. The bar should be directly over the shoulders.
                </li>

                <li>
                    <strong>Step 2</strong>: Press your feet firmly into the ground and keep your hips on the bench throughout the entire movement.
                </li>

                <li>
                    <strong>Step 3</strong>: Keep your core engaged and maintain a neutral spine position throughout the movement. Avoid arching your back.
                </li>

                <li>
                    <strong>Step 4</strong>: Slowly lift the bar or dumbbells off the rack, if using.
                     Lower the bar to the chest, about nipple level, allowing elbows to bend out to the side, about 45 degrees away from the body.
                </li>

                <li>
                    <strong>Step 5</strong>: Stop lowering when your elbows are just below the bench.
                     Press feet into the floor as you push the bar back up to return to starting position.
                </li>

                <li>
                    <strong>Step 6</strong>: Perform 5 to 10 reps, depending on weight used. Perform up to 3 sets.
                </li>
            </ul>
        </div>

        <form class="finish" action="/bench" method="post">
            <button type="submit" class="finish-b" {% if bench_statues %}{% if bench_statues[0][0] == "completed" %}disabled{% endif %}{% endif %}>
                {% if bench_statues %}{% if bench_statues[0][0] == "completed" %}Completed{% endif %}{% else %}Mark Complete{% endif %}
            </button>
        </form>
    </div>

{% endblock %}