{% extends "layout.html" %}

{% block link %}
    <link href="../static/h_page.css" rel="stylesheet">
    <link href="../static/swiper-bundle.min.css" rel="stylesheet">
    <script src="../static/h_page.js"></script>
    <script src="../static/swiper-bundle.min.js"></script>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container-1">
        <div class="content">
            <i class="web-icon"></i>

            <img src="../static/{{ profile_pic }}" alt="You">
            <p class="name">{{ name }}</p>

            <a href="/edit" class="profile-edit">Edit</a>

            <a href="/homepage" class="btn">Dashboard</a>
            <a href="/activity" class="btn">Activity</a>
            <a href="/logout" class="btn">&#10008; Log out</a>

            <div class="darkbtn">
                <i class="light"></i>
                <input type="checkbox" id="darkmodebtn">
                <i class="dark"></i>
            </div>
        </div>
    </div>

    <div class="container-2">
        <div class="content">
            <form class="top-bar">
                <p>Statistics</p>
                <input type="search" placeholder="Search something...">
                <button class="upgrade">Upgrade</button>
            </form>

            <div class="upper-three">
                <div class="div-1">                    
                    <div class="skill-box">
                        <span class="title">Fitness</span>

                        <div class="skill-bar">
                            <span class="skill-per fitness" style="width: {{ fitness_progress }}%;">
                                <span class="tooltip">{{ fitness_progress }}%</span>
                            </span>
                        </div>
                    </div>

                    <div class="skill-box">
                        <span class="title">muscular</span>

                        <div class="skill-bar">
                            <span class="skill-per muscular" style="width: {{ muscular_progress }}%;">
                                <span class="tooltip">{{ muscular_progress }}%</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="div-2">
                    <div class="calendar-wrapper">
                        <button id="btnPrev" type="button">&#10094; Prev</button>
                        <button id="btnNext" type="button">Next &#10095;</button>
                        <div id="divCal"></div>
                    </div>
                </div>
            </div>

            <div class="lower-three">
                <div class="div-3">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../static/deadlift.jpg" alt="hiit fitness">
                                <p class="name">Dead Lift</p>
                                <a href="/dlift">View more</a>
                            </div>
                            
                            <div class="swiper-slide">
                                <img src="../static/bench_press.jpg" alt="hiit fitness">
                                <p class="name">Bench Press</p>
                                <a href="/bench">View more</a>
                            </div>
                            
                            <div class="swiper-slide">
                                <img src="../static/split_squats.jpg" alt="hiit fitness">
                                <p class="name">Split Squats</p>
                                <a href="/split">View more</a>
                            </div>
                            
                            <div class="swiper-slide">  
                                <img src="../static/leg_press.jpg" alt="hiit fitness">
                                <p class="name">Leg Press</p>
                                <a href="/leg">View more</a>
                            </div>

                            <div class="swiper-slide">  
                                <img src="../static/plank.jpg" alt="hiit fitness">
                                <p class="name">Plank</p>
                                <a href="/plank">View more</a>
                            </div>

                            <div class="swiper-slide">  
                                <img src="../static/lunge.jpg" alt="hiit fitness">
                                <p class="name">Lunge</p>
                                <a href="/lunge">View more</a>
                            </div>

                            <div class="swiper-slide">  
                                <img src="../static/crunch.jpg" alt="hiit fitness">
                                <p class="name">Crunch</p>
                                <a href="/crunch">View more</a>
                            </div>

                            <div class="swiper-slide">  
                                <img src="../static/squat.jpg" alt="hiit fitness">
                                <p class="name">Squat</p>
                                <a href="/squat">View more</a>
                            </div>
                        </div>
                        
                        <!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div> -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                
                <div class="div-4"><a href="https://chatgpt.com" target="_blank"></a></div>
            </div>
        </div>
    </div>
{% endblock %}