{% extends "layout.html" %}

{% block link %}

    <link href="../static/main.css" rel="stylesheet">
    
{% endblock %}

{% block body %}

    <div class="background">
        <div class="shape"></div>

        <div class="shape"></div>
    </div>

    <form action="/login" method="post" class="login">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" autocomplete="off" autofocus required placeholder="Your Email" name="username" id="username">

        <label for="password">Password</label>
        <input type="password" autocomplete="off" required placeholder="Password" name="password" id="password">

        <button type="submit">Log In</button>
        <button class="register" type="submit">Register</button>
    </form>


{% endblock %}